* {
  margin: 0;
  padding: 0;
}

html {
  background: url(../../assets/bg1.jpg) repeat-y;
  background-size: 100%;
}

.search {
  text-align: left;
}

.inputrowbox {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
}

.inputrowbox input, .inputrowbox select {
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  margin-left: 10px;
  padding: 0 10px;
}

.el-header, .el-footer {
  background-color: rgba(0, 0, 0, 0.2);
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-main {
  color: #333;
  vertical-align: top;
  overflow-y: auto;
}